# Africa Cup Of Nations

In [9]:
from bs4 import BeautifulSoup
import requests

In [10]:
url = 'https://en.wikipedia.org/wiki/Africa_Cup_of_Nations#Trophy_and_medals'
page = requests.get(url)

In [11]:
data = BeautifulSoup(page.text, 'html')

In [12]:
table = data.find_all('table')[4]

In [13]:
columns = table.find_all('th')
winners = [title.text.strip() for title in columns]
print(winners)

['Team', 'Winners', 'Runners-up', 'Third place', 'Fourth place', 'Top 4total']

In [14]:
import pandas as pd
df = pd.DataFrame(columns = winners)
df

Empty DataFrame
Columns: [Team, Winners, Runners-up, Third place, Fourth place, Top 4total]
Index: []

In [15]:
column_data = table.find_all('tr')
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [info.text.strip() for info in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

In [25]:
df

,Team,Winners,Runners-up,Third place,Fourth place,Top 4total
0,Egypt,"7 (1957, 1959*1, 1986*, 1998, 2006*, 2008, 2010)","3 (19621, 2017, 2021)","3 (19631, 19701, 1974*)","3 (1976, 1980, 1984)",16
1,Cameroon,"5 (1984, 1988, 2000, 2002, 2017)","2 (1986, 2008)","2 (1972*, 2021*)",1 (1992),10
2,Ghana,"4 (1963*, 1965, 1978*, 1982)","5 (1968, 1970, 1992, 2010, 2015)",1 (2008*),"4 (1996, 2012, 2013, 2017)",14
3,Nigeria,"3 (1980*, 1994, 2013)","5 (1984, 1988, 1990, 2000*, 2023)","8 (1976, 1978, 1992, 2002, 2004, 2006, 2010, 2...",—,16
4,Ivory Coast,"3 (1992, 2015, 2023*)","2 (2006, 2012)","4 (1965, 1968, 1986, 1994)","2 (1970, 2008)",11
5,Algeria,"2 (1990*, 2019)",1 (1980),"2 (1984, 1988)","2 (1982, 2010)",7
6,DR Congo,"2 (19682, 19743)",—,"2 (1998, 2015)","2 (19723, 2023)",6
7,Zambia,1 (2012),"2 (1974, 1994)","3 (1982, 1990, 1996)",—,6
8,Tunisia,1 (2004*),"2 (1965*, 1996)",1 (1962),"3 (1978, 2000, 2019)",7
9,Sudan,1 (1970*),"2 (1959, 1963)",1 (1957*),—,4
10,Senegal,1 (2021),"2 (2002, 2019)",—,"3 (1965, 1990, 2006)",6
11,South Africa,1 (1996*),1 (1998),"2 (2000, 2023)",—,4
12,Ethiopia,1 (1962*),1 (1957),1 (1959),"2 (1963, 1968*)",5
13,Morocco,1 (1976),1 (2004),1 (1980),"2 (1986, 1988*)",5
14,Congo,1 (1972),—,—,1 (1974),2
15,Mali,—,1 (1972),"2 (2012, 2013)","3 (1994, 2002*, 2004)",6
16,Burkina Faso,—,1 (2013),1 (2017),"2 (1998*, 2021)",4
17,Uganda,—,1 (1978),—,1 (1962),2
18,Guinea,—,1 (1976),—,—,1
19,Libya,—,1 (1982*),—,—,1
20,Equatorial Guinea,—,—,—,1 (2015*),1

In [26]:
#df.to_csv(r'C:\Users\Ahmed\test\Project.csv')----File has been created in the folder